In [98]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
import math
import os

In [99]:
building_path = os.path.join(os.path.dirname("ashrae.ipynb"), "data/building_metadata.csv")
train_path = os.path.join(os.path.dirname("ashrae.ipynb"), "data/train.csv")
test_path = os.path.join(os.path.dirname("ashrae.ipynb"), "data/test.csv")
weather_test_path = os.path.join(os.path.dirname("ashrae.ipynb"), "data/weather_test.csv")
weather_train_path = os.path.join(os.path.dirname("ashrae.ipynb"), "data/weather_train.csv")

building_meta = pd.read_csv(building_path)
train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
weather_test = pd.read_csv(weather_test_path)
weather_train = pd.read_csv(weather_train_path)

In [100]:
df = pd.DataFrame(test.row_id)

In [101]:
train['timestamp'] = pd.to_datetime(train['timestamp'])
test['timestamp'] = pd.to_datetime(test['timestamp'])
weather_train['timestamp'] = pd.to_datetime(weather_train['timestamp'])
weather_test['timestamp'] = pd.to_datetime(weather_test['timestamp'])
building_meta['primary_use'] = building_meta['primary_use'].astype('category')
train = pd.merge(train, building_meta, how='inner', on='building_id')
test = pd.merge(test, building_meta, how='inner', on='building_id')

In [102]:
train = pd.merge(train, weather_train, how='inner', on=['site_id', 'timestamp'])
test = pd.merge(test, weather_test, how='inner', on=['site_id', 'timestamp'])

In [103]:
train['age'] = train['year_built'].max() - train['year_built'] + 1
test['age'] = test['year_built'].max() - test['year_built'] + 1

In [104]:
le = LabelEncoder()
train['primary_use'] = le.fit_transform(train['primary_use']).astype(np.int8)
test['primary_use'] = le.fit_transform(test['primary_use']).astype(np.int8)

In [105]:
train['floor_count'] = train['floor_count'].fillna(-999).astype(np.int16)
test['floor_count'] = test['floor_count'].fillna(-999).astype(np.int16)

train['year_built'] = train['year_built'].fillna(-999).astype(np.int16)
test['year_built'] = test['year_built'].fillna(-999).astype(np.int16)

train['age'] = train['age'].fillna(-999).astype(np.int16)
test['age'] = test['age'].fillna(-999).astype(np.int16)

train['cloud_coverage'] = train['cloud_coverage'].fillna(-999).astype(np.int16)
test['cloud_coverage'] = test['cloud_coverage'].fillna(-999).astype(np.int16)

In [106]:
train['month'] = train['timestamp'].dt.month.astype(np.int8)
train['weekofyear'] = train['timestamp'].dt.weekofyear.astype(np.int8)
train['dayofyear'] = train['timestamp'].dt.dayofyear.astype(np.int16)
train['hour'] = train['timestamp'].dt.hour.astype(np.int8)  
train['dayofweek'] = train['timestamp'].dt.dayofweek.astype(np.int8)
train['dayofmonth'] = train['timestamp'].dt.day.astype(np.int8)
train['weekofmonth'] = train['timestamp'].dt.day/7
train['weekofmonth'] = train['weekofmonth'].apply(lambda x: math.ceil(x)).astype(np.int8)

train['year_built'] = train['year_built']-1900
train['square_feet'] = np.log(train['square_feet'])
    
test['month'] = test['timestamp'].dt.month.astype(np.int8)
test['weekofyear'] = test['timestamp'].dt.weekofyear.astype(np.int8)
test['dayofyear'] = test['timestamp'].dt.dayofyear.astype(np.int16)   
test['hour'] = test['timestamp'].dt.hour.astype(np.int8)
test['dayofweek'] = test['timestamp'].dt.dayofweek.astype(np.int8)
test['dayofmonth'] = test['timestamp'].dt.day.astype(np.int8)
test['weekofmonth'] = test['timestamp'].dt.day/7
test['weekofmonth'] = test['weekofmonth'].apply(lambda x: math.ceil(x)).astype(np.int8)
    
test['year_built'] = test['year_built']-1900
test['square_feet'] = np.log(test['square_feet'])

In [107]:
y_train = np.log1p(train["meter_reading"])  
x_train = train.drop(["meter_reading", "precip_depth_1_hr", "sea_level_pressure", "wind_direction", "wind_speed","timestamp"], axis=1)

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size=0.33, random_state=42)

/Users/lauriegao/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.

In [110]:
train_data = lgb.Dataset(X_train, label=Y_train)
validation_data = train_data.create_valid(X_test, label=Y_test)

In [111]:
param = {'metric': 'rmse'}
num_round = 200
bst = lgb.train(param, train_data, num_round, valid_sets=[validation_data], early_stopping_rounds=5)

[1]	valid_0's rmse: 2.07707
Training until validation scores don't improve for 5 rounds
[2]	valid_0's rmse: 2.02038
[3]	valid_0's rmse: 1.97405
[4]	valid_0's rmse: 1.92687
[5]	valid_0's rmse: 1.89109
[6]	valid_0's rmse: 1.85961
[7]	valid_0's rmse: 1.83061
[8]	valid_0's rmse: 1.79822
[9]	valid_0's rmse: 1.77242
[10]	valid_0's rmse: 1.74953
[11]	valid_0's rmse: 1.72899
[12]	valid_0's rmse: 1.70991
[13]	valid_0's rmse: 1.68942
[14]	valid_0's rmse: 1.67389
[15]	valid_0's rmse: 1.6607
[16]	valid_0's rmse: 1.64279
[17]	valid_0's rmse: 1.6304
[18]	valid_0's rmse: 1.61687
[19]	valid_0's rmse: 1.60837
[20]	valid_0's rmse: 1.59992
[21]	valid_0's rmse: 1.58541
[22]	valid_0's rmse: 1.5758
[23]	valid_0's rmse: 1.56838
[24]	valid_0's rmse: 1.56006
[25]	valid_0's rmse: 1.5517
[26]	valid_0's rmse: 1.54446
[27]	valid_0's rmse: 1.53654
[28]	valid_0's rmse: 1.52608
[29]	valid_0's rmse: 1.51911
[30]	valid_0's rmse: 1.50903
[31]	valid_0's rmse: 1.50366
[32]	valid_0's rmse: 1.49538
[33]	valid_0's rmse: 1.48912
[34]	valid_0's rmse: 1.48475
[35]	valid_0's rmse: 1.47263
[36]	valid_0's rmse: 1.46855
[37]	valid_0's rmse: 1.46402
[38]	valid_0's rmse: 1.45565
[39]	valid_0's rmse: 1.4528
[40]	valid_0's rmse: 1.44993
[41]	valid_0's rmse: 1.44522
[42]	valid_0's rmse: 1.43928
[43]	valid_0's rmse: 1.43673
[44]	valid_0's rmse: 1.42906
[45]	valid_0's rmse: 1.42512
[46]	valid_0's rmse: 1.42325
[47]	valid_0's rmse: 1.41844
[48]	valid_0's rmse: 1.41332
[49]	valid_0's rmse: 1.41099
[50]	valid_0's rmse: 1.40563
[51]	valid_0's rmse: 1.40204
[52]	valid_0's rmse: 1.39926
[53]	valid_0's rmse: 1.39708
[54]	valid_0's rmse: 1.39134
[55]	valid_0's rmse: 1.38781
[56]	valid_0's rmse: 1.38508
[57]	valid_0's rmse: 1.38294
[58]	valid_0's rmse: 1.37988
[59]	valid_0's rmse: 1.37664
[60]	valid_0's rmse: 1.37317
[61]	valid_0's rmse: 1.37159
[62]	valid_0's rmse: 1.36978
[63]	valid_0's rmse: 1.36698
[64]	valid_0's rmse: 1.36417
[65]	valid_0's rmse: 1.36143
[66]	valid_0's rmse: 1.35842
[67]	valid_0's rmse: 1.35706
[68]	valid_0's rmse: 1.35422
[69]	valid_0's rmse: 1.35001
[70]	valid_0's rmse: 1.34854
[71]	valid_0's rmse: 1.34587
[72]	valid_0's rmse: 1.34393
[73]	valid_0's rmse: 1.34133
[74]	valid_0's rmse: 1.33867
[75]	valid_0's rmse: 1.33709
[76]	valid_0's rmse: 1.33526
[77]	valid_0's rmse: 1.33172
[78]	valid_0's rmse: 1.32973
[79]	valid_0's rmse: 1.32766
[80]	valid_0's rmse: 1.32594
[81]	valid_0's rmse: 1.32449
[82]	valid_0's rmse: 1.32236
[83]	valid_0's rmse: 1.32055
[84]	valid_0's rmse: 1.31838
[85]	valid_0's rmse: 1.31654
[86]	valid_0's rmse: 1.31449
[87]	valid_0's rmse: 1.31155
[88]	valid_0's rmse: 1.30943
[89]	valid_0's rmse: 1.30761
[90]	valid_0's rmse: 1.30632
[91]	valid_0's rmse: 1.30404
[92]	valid_0's rmse: 1.30057
[93]	valid_0's rmse: 1.29794
[94]	valid_0's rmse: 1.29527
[95]	valid_0's rmse: 1.29388
[96]	valid_0's rmse: 1.29208
[97]	valid_0's rmse: 1.29018
[98]	valid_0's rmse: 1.28945
[99]	valid_0's rmse: 1.28845
[100]	valid_0's rmse: 1.28733
[101]	valid_0's rmse: 1.28609
[102]	valid_0's rmse: 1.28493
[103]	valid_0's rmse: 1.28256
[104]	valid_0's rmse: 1.27971
[105]	valid_0's rmse: 1.27866
[106]	valid_0's rmse: 1.27573
[107]	valid_0's rmse: 1.27455
[108]	valid_0's rmse: 1.27305
[109]	valid_0's rmse: 1.26973
[110]	valid_0's rmse: 1.26882
[111]	valid_0's rmse: 1.26748
[112]	valid_0's rmse: 1.26601
[113]	valid_0's rmse: 1.26529
[114]	valid_0's rmse: 1.26454
[115]	valid_0's rmse: 1.26373
[116]	valid_0's rmse: 1.26251
[117]	valid_0's rmse: 1.26076
[118]	valid_0's rmse: 1.25887
[119]	valid_0's rmse: 1.25785
[120]	valid_0's rmse: 1.25679
[121]	valid_0's rmse: 1.25617
[122]	valid_0's rmse: 1.25516
[123]	valid_0's rmse: 1.25418
[124]	valid_0's rmse: 1.25205
[125]	valid_0's rmse: 1.24961
[126]	valid_0's rmse: 1.24852
[127]	valid_0's rmse: 1.24772
[128]	valid_0's rmse: 1.24675
[129]	valid_0's rmse: 1.24432
[130]	valid_0's rmse: 1.24336
[131]	valid_0's rmse: 1.24256
[132]	valid_0's rmse: 1.24054
[133]	valid_0's rmse: 1.23847
[134]	valid_0's rmse: 1.2378
[135]	valid_0's rmse: 1.23567
[136]	valid_0's rmse: 1.23429
[137]	valid_0's rmse: 1.233
[138]	valid_0's rmse: 1.23226
[139]	valid_0's rmse: 1.2311
[140]	valid_0's rmse: 1.23006
[141]	valid_0's rmse: 1.22805
[142]	valid_0's rmse: 1.22509
[143]	valid_0's rmse: 1.22378
[144]	valid_0's rmse: 1.22245
[145]	valid_0's rmse: 1.22179
[146]	valid_0's rmse: 1.22121
[147]	valid_0's rmse: 1.21942
[148]	valid_0's rmse: 1.21718
[149]	valid_0's rmse: 1.21587
[150]	valid_0's rmse: 1.21448
[151]	valid_0's rmse: 1.21197
[152]	valid_0's rmse: 1.21145
[153]	valid_0's rmse: 1.2096
[154]	valid_0's rmse: 1.20818
[155]	valid_0's rmse: 1.20702
[156]	valid_0's rmse: 1.20574
[157]	valid_0's rmse: 1.20495
[158]	valid_0's rmse: 1.2038
[159]	valid_0's rmse: 1.20184
[160]	valid_0's rmse: 1.20123
[161]	valid_0's rmse: 1.20082
[162]	valid_0's rmse: 1.20018
[163]	valid_0's rmse: 1.19959
[164]	valid_0's rmse: 1.19914
[165]	valid_0's rmse: 1.19807
[166]	valid_0's rmse: 1.19688
[167]	valid_0's rmse: 1.19659
[168]	valid_0's rmse: 1.19595
[169]	valid_0's rmse: 1.19512
[170]	valid_0's rmse: 1.19438
[171]	valid_0's rmse: 1.19384
[172]	valid_0's rmse: 1.19328
[173]	valid_0's rmse: 1.19276
[174]	valid_0's rmse: 1.19116
[175]	valid_0's rmse: 1.19018
[176]	valid_0's rmse: 1.18859
[177]	valid_0's rmse: 1.18785
[178]	valid_0's rmse: 1.18734
[179]	valid_0's rmse: 1.18634
[180]	valid_0's rmse: 1.18568
[181]	valid_0's rmse: 1.1847
[182]	valid_0's rmse: 1.18426
[183]	valid_0's rmse: 1.18333
[184]	valid_0's rmse: 1.18287
[185]	valid_0's rmse: 1.18057
[186]	valid_0's rmse: 1.17884
[187]	valid_0's rmse: 1.1782
[188]	valid_0's rmse: 1.17679
[189]	valid_0's rmse: 1.175
[190]	valid_0's rmse: 1.17352
[191]	valid_0's rmse: 1.1727
[192]	valid_0's rmse: 1.1712
[193]	valid_0's rmse: 1.1697
[194]	valid_0's rmse: 1.16877
[195]	valid_0's rmse: 1.1674
[196]	valid_0's rmse: 1.16698
[197]	valid_0's rmse: 1.16516
[198]	valid_0's rmse: 1.16453
[199]	valid_0's rmse: 1.16415
[200]	valid_0's rmse: 1.16331
Did not meet early stopping. Best iteration is:
[200]	valid_0's rmse: 1.16331

In [112]:
test = test.drop(["row_id"], axis=1)

In [113]:
ypred = bst.predict(test)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: timestamp

In [ ]:
ypred

In [ ]:
df['meter_reading'] = 0

In [114]:
test

,building_id,meter,timestamp,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,...,wind_direction,wind_speed,age,month,weekofyear,dayofyear,hour,dayofweek,dayofmonth,weekofmonth
0,0,0,2017-01-01 00:00:00,0,0,8.913550,108,-999,17.8,4,...,100.0,3.6,10,1,52,1,0,6,1,1
1,1,0,2017-01-01 00:00:00,0,0,7.908387,104,-999,17.8,4,...,100.0,3.6,14,1,52,1,0,6,1,1
2,2,0,2017-01-01 00:00:00,0,0,8.589700,91,-999,17.8,4,...,100.0,3.6,27,1,52,1,0,6,1,1
3,3,0,2017-01-01 00:00:00,0,0,10.072597,102,-999,17.8,4,...,100.0,3.6,16,1,52,1,0,6,1,1
4,4,0,2017-01-01 00:00:00,0,0,11.666565,75,-999,17.8,4,...,100.0,3.6,43,1,52,1,0,6,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41498566,1444,0,2018-12-31 23:00:00,15,1,9.884254,14,-999,3.3,-999,...,140.0,5.1,104,12,1,365,23,0,31,5
41498567,1445,0,2018-12-31 23:00:00,15,0,8.365905,-2899,-999,3.3,-999,...,140.0,5.1,-999,12,1,365,23,0,31,5
41498568,1446,0,2018-12-31 23:00:00,15,1,9.329456,97,-999,3.3,-999,...,140.0,5.1,21,12,1,365,23,0,31,5
41498569,1447,0,2018-12-31 23:00:00,15,4,10.301424,101,-999,3.3,-999,...,140.0,5.1,17,12,1,365,23,0,31,5
41498570,1448,0,2018-12-31 23:00:00,15,6,11.432485,101,-999,3.3,-999,...,140.0,5.1,17,12,1,365,23,0,31,5

In [115]:
df

            row_id
0                0
1                1
2                2
3                3
4                4
...            ...
41697595  41697595
41697596  41697596
41697597  41697597
41697598  41697598
41697599  41697599

[41697600 rows x 1 columns]